@import '../mixins';
@import '../variables';
@import '../globals';

.social-proof {
  min-height: 100vh;
  background: url('../../public/images/bg-pattern-top-mobile.svg') no-repeat;
  background-size: 100%;

  @media screen and (min-width: 1025px) {
    background: url('../../public/images/bg-pattern-bottom-desktop.svg') no-repeat;
    background-size: 100%;
    display: grid;
    place-content: center;
  }

  &__content {
    grid-template-columns: 1fr;
    gap: rem(47);
    padding-top: 80px;

    @media screen and (min-width: 1025px) {
      grid-template-columns: 1fr 1fr;
      padding-top: 0;
      gap: rem(60) rem(47);
    }
  }

  &__text {
    text-align: center;

    @media screen and (min-width: 1025px) {
      text-align: left;
    }

    h1 {
      margin-bottom: rem(25);
      font-weight: 700;
      font-size: clamp(rem(30), 9vw, rem(36));
      color: $VeryDarkMagenta;

      @media screen and (min-width: 720px) {
        font-size: clamp(rem(45), 6.5vw, rem(53));
      }
    }

    p {
      margin: auto;
      width: 100%;
      font-weight: 500;
      max-width: 33ch;
      font-size: clamp(rem(14), 4.5vw, rem(16));
      line-height: 1.7;
      color: $DarkGrayishMagenta;

      @media screen and (min-width: 720px) {
        font-size: clamp(rem(18), 2.5vw, rem(22));
      }
    }
  }

  &__ratings {
    align-self: center;
    .cards {
      grid-template-columns: 1fr;
      text-align: center;
      list-style: none;

      @media screen and (min-width: 720px) {
        grid-template-columns: repeat(6, 1fr);
        gap: rem(20);
        transition: all 0.5s ease;

        .card1 {
          grid-column: 1 / 4;
        }

        .card2 {
          grid-column: 4 / 7;
        }

        .card3 {
          grid-column: 2 / 6;
          grid-row: 2;
        }
      }

      @media screen and (min-width: 1025px) {
        grid-template-columns: repeat(12, 1fr);

        .card1 {
          grid-column: 1 / 11;
          grid-row: 1;
        }

        .card2 {
          grid-column: 2 / 12;
          grid-row: 2;
        }

        .card3 {
          grid-column: 3 / 13;
          grid-row: 3;
        }
      }

      &__card {
        width: 95%;
        padding: rem(16);
        margin: auto;
        border-radius: rem(9);
        background: $LightGrayishMagenta;
        transition: all 0.5s ease;

        @media screen and (min-width: 1205px) {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;

          .stars {
            img {
              padding: rem(4);
            }
          }
        }

        h2 {
          margin-top: rem(12);
          font-size: clamp(rem(12), 4.5vw, rem(17));
          color: $VeryDarkMagenta;

          @media screen and (min-width: 720px) {
            font-size: rem(16);
          }

          @media screen and (min-width: 1205px) {
            margin-top: 0;
          }
        }
      }

      .card + .card {
        margin-top: rem(18);

        @media screen and (min-width: 720px) {
          margin-top: 0;
        }
      }
    }
  }

  &__testimonials {
    @media screen and (min-width: 1025px) {
      grid-column: 1 / span 2;
    }

    .cards {
      gap: rem(18);
      list-style: none;
      color: $White;

      @media screen and (min-width: 720px) {
        grid-template-columns: repeat(6, 1fr);

        .card1 {
          grid-column: 1 / 4;
        }

        .card2 {
          grid-column: 4 / 7;
        }

        .card3 {
          grid-column: 2 / 6;
          grid-row: 2;
        }
      }

      @media screen and (min-width: 1025px) {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        gap: 0 rem(20);

        .card1 {
          grid-column: 1 / 5;
          grid-row: 1 / 11;
        }

        .card2 {
          grid-column: 5 / 9;
          grid-row: 2 /12;
        }

        .card3 {
          grid-column: 9 / 13;
          grid-row: 3 / 13;
        }
      }

      &__card {
        padding: rem(32);
        border: none;
        border-radius: rem(10);
        background: $VeryDarkMagenta;

        &:last-child {
          margin-bottom: rem(15);

          @media screen and (min-width: 1025px) {
            margin-bottom: 0;
          }
        }

        figcaption {
          margin-bottom: rem(25);
          align-items: center;

          img {
            width: 55px;
            border-radius: 100%;
            margin-right: rem(20);
          }

          .info {
            h3 {
              margin-bottom: rem(3);
              font-size: rem(15);
              font-weight: 700;
            }

            small {
              color: $SoftPink;
              opacity: 0.7;
            }
          }
        }

        blockquote {
          line-height: 1.5;
          color: $LightGrayishMagenta;
        }
      }
    }
  }
}
